@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.page-light {
  background-color: #f9f6f1;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 126px;
  padding-top: 46px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-right: 52px;
}

.nav-link {
  color: #212121;
  font-weight: 500;
  line-height: 17px;
  display: block;
}

.cart {
  background-image: url(/img/cart.svg);
  display: block;
  width: 30px;
  height: 30px;
  padding-left: 45px;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.cart-count {
  display: block;
  background-image: url(/img/cart-bg.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sect {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.sale-description {
  font-size: 30px;
  letter-spacing: -0.6px;
}

.sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn {
  background-color: #d7b399;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  padding: 18px 28px;
}

.banner {
  position: relative;
}

.banner-price {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
}

.banner-price-old {
  font-size: 24px;
  font-weight: 700;
}

.banner-price-new {
  font-size: 42px;
  color: #d84033;
  font-weight: 700;
  margin-top: 17px;
}
/*# sourceMappingURL=style.css.map */